*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    padding: 13px 16px;
    border: none;
    background-color: #30B868;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}
header nav{
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav img{
    width: 140px;
    height: 60px;
    margin: 16px 0px 16px 120px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin: 34px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
header nav ul li a:hover{
    color: #30B868;
}
header nav button{
    margin: 24px 120px 24px 0px;
}