*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    padding: 13px 16px;
    border: none;
    background-color: #30B868;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: #b0e6c7;
    color: #30B868;
}
header nav{
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav img{
    width: 140px;
    height: 60px;
    margin: 16px 0px 16px 120px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin: 34px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
header nav ul li a:hover{
    color: #30B868;
}
header nav button{
    margin: 24px 120px 24px 0px;
}
.home{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; 
}
.home .container{
    position: absolute;
    left: 0;
    right: 0;
    width: 85%;
    max-width: 1360px;
    margin: 300px auto;
    
}
.home .container .early{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 50px;
    width: 230px;
    height: 35px;
    margin: 16px auto;
}
.home .container .early p{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin: 8px 12px 8px 0px;
}
.home .container .early .circle{
    width: 16px;
    height: 16px;
    background-color: #30B868;
    opacity: 80%;
    border-radius: 8px;
    margin: 9.5px 6px 9.5px 12px;
}
.home .container .content{
    text-align: center;  
}
.home .container .content h1{
    color: #ffffff;
    font-size: 70px;
}
.home .container .content h1 span{
    color: #30B868;
}
.home .container .content p{
    color: #ffffff;
    font-size: 18px;
    margin-top: 16px;
}
.home .container .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    gap: 16px;
}
#first-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#second-btn{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 13px 16px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
#second-btn:hover{
    border: 2px solid #30B868;
    color: #30B868;
}
