/* Shared Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    padding: 13px 16px;
    border: 3px solid #30B868;
    background-color: #30B868;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-color: transparent;
    border: 3px solid #30B868;
    color: #30B868;
}

/* Navbar */

header nav{
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav img{
    width: 140px;
    height: 60px;
    margin: 16px 0px 16px 120px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin: 34px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(59, 59, 59);
    transition: all 0.3s ease-in-out;
}
header nav ul li a:hover{
    color: #30B868;
}
header nav button{
    margin: 24px 120px 24px 0px;
}

/* Banner Section */

#home{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; 
}
#home .container{
    position: absolute;
    left: 0;
    right: 0;
    width: 85%;
    max-width: 1360px;
    margin: 300px auto;
    
}
#home .container .early{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 50px;
    width: 230px;
    height: 35px;
    margin: 16px auto;
}
#home .container .early p{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin: 8px 12px 8px 0px;
}
#home .container .early .circle{
    width: 16px;
    height: 16px;
    background-color: #30B868;
    opacity: 60%;
    border-radius: 8px;
    margin: 9.5px 6px 9.5px 12px;
}
#home .container .content{
    text-align: center;  
}
#home .container .content h1{
    color: #ffffff;
    font-size: 70px;
}
#home .container .content .highlight{
    color: #30B868;
}
#home .container .content p{
    color: #ffffff;
    font-size: 18px;
    margin-top: 16px;
}
#home .container .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    gap: 16px;
}
#home .container .button #first-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#home .container .button #second-btn{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 16px;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#home .container .button #second-btn:hover{
    border: 3px solid #30B868;
    color: #30B868;
}

/* Notes Section */

#second-section{
    height: 450px;
    text-align: center;
}
#second-section .heading h1{
    margin-top: 50px;
    color: #001931;
    font-size: 48px;
    font-weight: 700;
}
#second-section .heading p{
    color: #627382;
    font-size: 16px;
    margin-top: 16px;
}

#second-section .box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 180px;
}
#second-section .box-container .box-content{
    width: 320px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    box-shadow: 10px 10px 25px #9f9f9f;
    transition: all 0.3s ease-in-out;
}
#second-section .box-container .box-content:hover{
    box-shadow: 20px 20px 25px #F95555;
}
#second-section .box-container .box-content .img{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
#second-section .box-container .box-content img{
    width: 32px;
    height: 32px;
}
#second-section .box-container .box-content h2{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
#second-section .box-container .box-content p{
    font-size: 16px;
    color: #627382;
}

/* Second Brain Section */

#third-section .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    margin: 120px;
}
#third-section .container .img-content img{
    width: 600px;
    height: 600px;
}
#third-section .container .info-content h3{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
#third-section .container .info-content h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
#third-section .container .info-content .paragraph{
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}
#third-section .container .info-content ul li{
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
}
#third-section .container .info-content ul li p{
    font-size: 16px;
    font-weight: 500;
    color: #001931;
}

/* Early Access Section */

#fourth-section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F6F2;
    box-shadow: 5px 5px 30px #d4d4d4;
    border: none;
    border-radius: 10px;
    margin: 0px 120px 120px 120px;
    padding: 80px 40px;
}
#fourth-section .container h1{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
#fourth-section .container p{
    font-size: 16px;
    color: #627382;  
}
#fourth-section .container .second-line{
    margin-bottom: 24px;
}
#fourth-section .container .third-line{
    margin-top: 16px;
}

/* Footer Section */

footer{
    background-color: #001931;
    padding: 120px 120px 30px 120px;
}
footer .link{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
footer .link .social h2{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}
footer .link .social i{
    color: #ffffff;
    margin: 16px 16px 0px 0px;
    font-size: 20px;
}
footer .link .social i:hover{
    color: #30B868;
}
footer .copyright{
    border-top: 2px solid #656565;
    padding-top: 30px;
    text-align: center;
    color: #fafafa;
    font-size: 16px;
}